﻿@model FOM.ViewModels.UserLoginViewModel

@{
    ViewBag.Title = @FOM.Resources.UserResource.titleLginPage;
    Layout = "~/Areas/JKControl/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", @id = "frmLogin" }))
{
    @Html.AntiForgeryToken()

    <h3 class="form-title font-green">@FOM.Resources.UserResource.lblSignIn</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> @FOM.Resources.UserResource.msgErrorUsernamePassword </span>
    </div>
    if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger display-show">
            <button class="close" data-close="alert"></button>
            <span> @Model.ErrorMessage </span>
        </div>
    }
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@FOM.Resources.UserResource.lblUsername</label>
        @Html.TextBoxFor(m => m.Username, new { @id = "txtLogin", @class = "form-control form-control-solid placeholder-no-fix", @autocomplete = "off", @placeholder = @FOM.Resources.UserResource.lblUsername, @name = "username" })
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@FOM.Resources.UserResource.lblPassword</label>
        @Html.PasswordFor(m => m.Password, new { @id = "txtPassword", @maxlength = "20", @class = "form-control form-control-solid placeholder-no-fix", @autocomplete = "off", @placeholder = @FOM.Resources.UserResource.lblPassword, @name = "password" })
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green uppercase">@FOM.Resources.UserResource.lblLogin</button>
        <label class="rememberme check mt-checkbox mt-checkbox-outline">
            @Html.CheckBoxFor(m => m.RememberMe, new { @id = "chkRememberMe", @name = "remember", @value = "1" })@FOM.Resources.UserResource.lblRemember
            <span></span>
        </label>
        <a href="javascript:;" id="forget-password" class="forget-password">@FOM.Resources.UserResource.lblForgodPassword</a>
    </div>
}

@using (Html.BeginForm("ForgotPassword", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "forget-form" }))
{
    @Html.AntiForgeryToken()

    <h3 class="font-green">@FOM.Resources.UserResource.lblForgodPassword</h3>
    <p> @FOM.Resources.UserResource.lblForgotPasswordTopText </p>
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="@FOM.Resources.UserResource.lblEmail" name="email">
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn green btn-outline">@JK.Resources.CommonResource.btnBack</button>
        <button type="submit" class="btn btn-success uppercase pull-right">@JK.Resources.CommonResource.btnSubmit</button>
    </div>
}



