/* here you can put your own css to customize and override the theme */
body {
    background-color: #0F6682 !important;
    font-size: 12px;
}

.page-boxed .page-container {
    background-color: #0F6682 !important;
    font-size: 12px;
}

.page-header.navbar > .page-header-inner.container {
}

    .page-header.navbar > .page-header-inner.container > .page-logo {
        padding-left: 0px;
        padding-right: 0;
        width: 54px;
    }

        .page-header.navbar > .page-header-inner.container > .page-logo > div.menu-toggler {
            background-color: black;
            float: left;
            margin-top: 45px;
            margin-left: 5px;
            margin-right: 17px;
        }

    .page-header.navbar > .page-header-inner.container > .page-actions {
        margin-left: 0;
    }

        .page-header.navbar > .page-header-inner.container > .page-actions > a {
            float: left;
        }

            .page-header.navbar > .page-header-inner.container > .page-actions > a > .logo-default {
                margin-top: -16px;
                margin-bottom: -17px;
                height: 64px;
            }

    .page-header.navbar > .page-header-inner.container .custom-top-nav-actions {
        float: right !important;
        padding: 0 5px 0 5px;
        margin-right: 10px;
    }

        .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a {
            padding: 15px 10px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }

            .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a.crmtopnav {
                padding: 15px 50px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a.active {
                text-decoration: none;
                background-color: #eee;
            }

            .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a > img {
                height: 38px;
                padding-right: 7px;
            }


.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar {
    background-color: #0F6682 !important;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
        background: #0B475B !important;
        color: #F1F1F1;
    }

    .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #F1F1F1;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a {
        border-top: 1px solid #0F7993;
        border-bottom: 3px solid #105D79;
    }

    .page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
        font-size: 13px;
        font-weight: 500;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
        background: #0B475B !important;
    }

.page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #eef1f5;
}

.page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
    font-size: 18px;
}


.page-sidebar-menu-hover-submenu li:active a > .arrow {
    border-right: 8px solid #eef1f5;
}

.page-boxed .page-footer {
    background-color: #1182A4;
    padding-left: 10px;
}

    .page-boxed .page-footer > .page-footer-inner, .page-boxed .page-footer > .page-footer-inner > a {
        color: #F1F1f1;
    }

        .page-boxed .page-footer > .page-footer-inner > a {
            color: #041C25;
        }



@media (max-width: 991px) {
    .page-header.navbar > .page-header-inner.container .page-logo {
        width: 0;
    }

    .page-header.navbar > .page-header-inner.container .page-actions {
        margin-left: 15px;
    }

    .page-header.navbar > .page-header-inner.container .page-top {
        display: block;
        clear: both;
    }
}

@media (max-width: 857px) {
}


@media (min-width: 768px) {
    .custom-top-nav-actions.navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .custom-top-nav-actions.navbar-collapse.collapse.in {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (max-width: 767px) {
    .page-header.navbar > .page-header-inner.container .page-logo {
        width: 0;
    }

    .page-header.navbar > .page-header-inner.container .page-actions {
        margin-left: 15px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.custom-top-nav-actions {
    float: left;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a {
        padding: 16px 6px 17px 6px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
    }

        .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a > img {
            height: 35px;
            padding-right: 5px;
        }

        .page-header.navbar > .page-header-inner.container .custom-top-nav-actions > ul > li > a.crmtopnav {
            padding: 16px 5px 17px 5px;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
        }
}

@media screen and (max-width: 992) and (min-width: 769px) {
    .custom-top-nav-actions > ul > li > a.crmtopnav {
        padding: 15px 5px;
    }

    .custom-top-nav-actions > ul > li > a.active {
        padding: 15px 5px;
    }

    .custom-top-nav-actions {
        /*margin-right: 20px !important;*/
    }

    .page-header.navbar > .page-header-inner.container .page-top {
        display: block;
        clear: both;
    }

    .page-header.navbar > .page-header-inner.container {
        padding: 0;
        margin: 0;
        position: relative;
        clear: both;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}



/*h menubar*/
.custom-nav-pills {
    /*background-color: #0C6A87 !important;*/
    margin-bottom: 5px;
    /*-webkit-box-shadow:inset 0 0 50px 3px #074B5F;
box-shadow:inset 0 0 50px 3px #074B5F;*/
    background: rgba(12,106,135,1);
    background: -moz-linear-gradient(top, rgba(12,106,135,1) 0%, rgba(46,120,143,1) 8%, rgba(32,139,171,1) 48%, rgba(46,120,143,1) 93%, rgba(12,106,135,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,106,135,1)), color-stop(8%, rgba(46,120,143,1)), color-stop(48%, rgba(32,139,171,1)), color-stop(93%, rgba(46,120,143,1)), color-stop(100%, rgba(12,106,135,1)));
    background: -webkit-linear-gradient(top, rgba(12,106,135,1) 0%, rgba(46,120,143,1) 8%, rgba(32,139,171,1) 48%, rgba(46,120,143,1) 93%, rgba(12,106,135,1) 100%);
    background: -o-linear-gradient(top, rgba(12,106,135,1) 0%, rgba(46,120,143,1) 8%, rgba(32,139,171,1) 48%, rgba(46,120,143,1) 93%, rgba(12,106,135,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,106,135,1) 0%, rgba(46,120,143,1) 8%, rgba(32,139,171,1) 48%, rgba(46,120,143,1) 93%, rgba(12,106,135,1) 100%);
    background: linear-gradient(to bottom, rgba(12,106,135,1) 0%, rgba(46,120,143,1) 8%, rgba(32,139,171,1) 48%, rgba(46,120,143,1) 93%, rgba(12,106,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c6a87', endColorstr='#0c6a87', GradientType=0 );
}

    .custom-nav-pills > li {
        width: 176px;
        height: 35px;
        vertical-align: middle;
        text-align: center;
        border-left: 1px solid #6EA8B7;
        border-right: 2px solid #075770;
        border-bottom: 1px solid #075770;
        float: left;
    }


        .custom-nav-pills > li.ar {
            width: 129px;
        }

        .custom-nav-pills > li.ap {
            width: 110px;
        }

        .custom-nav-pills > li.cr {
            width: 142px;
        }

        .custom-nav-pills > li.fr {
            width: 150px;
        }

        .custom-nav-pills > li.ad {
            width: 135px;
        }

        .custom-nav-pills > li.mn {
            width: 150px;
        }

        .custom-nav-pills > li.crmbbar {
            width: 140px;
        }
/*bottom navbar*/
/*Franchise*/
.custom-nav-pills-inner > li.fr-genral {
    /*width: 86px;*/
    text-align: center;
}

.custom-nav-pills-inner > li.fr-chargebacks {
    width: 116px;
    text-align: center;
}

.custom-nav-pills-inner > li.fr-nagativedue {
    width: 94px;
    text-align: center;
}

.custom-nav-pills-inner > li.fr-transactions {
    width: 103px;
    text-align: center;
}

.custom-nav-pills-inner > li.fr-report {
    width: 103px;
    text-align: center;
}

.custom-nav-pills-inner > li.fr-customerlead {
    width: 119px;
    text-align: center;
}

.custom-nav-pills-inner > li.mn-reports {
    width: 148px;
    text-align: center;
    border-bottom: 1px solid #5E738B;
}



/*end bottom navbar*/



.custom-nav-pills > li > a {
    line-height: 18px;
    color: #fff;
    padding: 8px 0px 7px 0px;
}

    .custom-nav-pills > li > a > img {
        width: 24px;
        margin-top: -5px;
        -webkit-filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.5));
        filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.5));
    }

.custom-nav-pills > li.active > a, .custom-nav-pills > li.active > a:focus, .custom-nav-pills > li.active > a:hover {
    background-color: #3ca8c7 !important;
    -webkit-box-shadow: inset 2px 2px 21px 2px #5c9eb1;
    box-shadow: inset 2px 2px 21px 2px #5c9eb1;
    padding: 8px 0px 7px 0px;
}



.custom-nav-pills > li:first-child {
    border-left: none;
}

.custom-nav-pills > li:last-child {
    border-right: none;
}

.custom-nav-pills > li + li {
    margin-left: 0px;
}

.custom-nav-pills > li > a:hover {
    color: #FAFAFA !important;
    padding: 8px 0px 7px 0px;
}

.custom-nav-pills > li > a:focus,
.custom-nav-pills > li > a:hover {
    text-shadow: 2px 1px 2px #525E64;
    color: #FAFAFA;
    background-color: #3890AA !important;
    -webkit-box-shadow: inset 2px 2px 50px 5px #074c61;
    box-shadow: inset 2px 2px 50px 5px #074c61;
    padding: 8px 5px;
}

.custom-nav-pills > .nav-tabs > li > a,
.custom-nav-pills > li > a {
    text-shadow: 2px 1px 2px #525E64;
    font-size: 12px;
    font-weight: 600;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.custom-nav-pills-inner {
    background: #6FA8B8 !important; /* Old browsers */
    font-size: 12px;
    font-weight: 600;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

    .custom-nav-pills-inner > li {
        width: initial;
        height: 30px !important;
        border: none;
        vertical-align: middle;
        text-align: center;
    }

        .custom-nav-pills-inner > li > a {
            font-size: 12px;
            border-radius: 0;
            padding: 6px 10px;
        }

            .custom-nav-pills-inner > li > a:focus,
            .custom-nav-pills-inner > li > a:hover {
                padding: 6px 10px 5px 10px;
            }

            .custom-nav-pills-inner > li > a:hover {
                text-shadow: 2px 1px 2px #525E64;
                color: #FAFAFA;
                background: #FFA77F;
                padding: 6px 10px 5px 10px;
            }

            .custom-nav-pills-inner > li > a > img {
                width: 18px;
                margin-top: -3px;
                margin-right: 5px;
                -webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.5));
                filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.5));
            }

        .custom-nav-pills-inner > li.active > a, .custom-nav-pills-inner > li.active > a:focus, .custom-nav-pills-inner > li.active > a:hover {
            background-color: #267086 !important;
            -webkit-box-shadow: inset 2px 2px 21px 2px #5c9eb1;
            box-shadow: inset 2px 2px 21px 2px #5c9eb1;
            padding: 6px 10px 5px 10px;
        }

.custom-page-bar {
    padding: 0px;
    margin-bottom: 5px;
    border-radius: 0px;
    font-size: 14px;
}

    .custom-page-bar > .page-breadcrumb {
        display: inline-block;
        float: left;
        padding: 3px 0 5px 5px;
        margin: 0;
        list-style: none;
        height: 25px;
        font-size: 13px;
    }

        .custom-page-bar > .page-breadcrumb > li > a, .custom-page-bar > .page-breadcrumb > li > span {
            color: #525E64;
            font-size: 12px;
            text-shadow: none;
            padding: 3px 3px;
        }

    .custom-page-bar > .breadcrumb {
        padding: 3px 15px;
        margin-bottom: 5px;
        list-style: none;
        background-color: #e4e9ed;
        border-radius: 0;
        min-width: 557px;
        height: 25px;
    }

        .custom-page-bar > .breadcrumb > li {
            padding-left: 3px;
            padding-right: 3px;
            font-size: 12px;
        }

            .custom-page-bar > .breadcrumb > li + li:before {
                padding: 0px;
            }






.custom-form {
}

    .custom-form.portlet.light {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px !important;
        background-color: #fff;
    }

        .custom-form.portlet.light .form-actions,
        .custom-form.portlet.light .form-body {
            padding: 8px !important;
        }

        .custom-form.portlet.light .form-actions-outer,
        .custom-form.portlet.light .form-body-outer {
            padding: 0px !important;
        }

        .custom-form.portlet.light .form-group {
            margin-bottom: 7px;
            margin-top: 7px;
            margin: 7px 10px !important;
        }

    .custom-form .headerbox {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #3598DC !important;
        color: #FFF !important;
        border: 1px solid #3598DC !important;
        padding: 6px 6px 2px 6px;
        border-radius: 8px 8px 0 0;
        text-transform: uppercase;
    }

        .custom-form .headerbox.list {
            padding: 6px 6px 2px 6px;
        }

        .custom-form .headerbox .dataTables_filter {
            float: left;
        }

            .custom-form .headerbox .dataTables_filter input[type="search"] {
                float: left;
                height: 25px;
                font-size: 11px;
                margin-top: 0px;
                padding: 5px 10px;
                line-height: 1.5;
                border-radius: 3px;
                min-width: 230px !important;
            }

.custom-listbox .headerbox .dataTables_length select.input-xsmall {
    width: 50px !important;
    padding: 3px;
}


.custom-form .headerbox .dataTables_filter > label {
    margin-bottom: 0px;
}

.custom-form .btn {
    padding: 3px 12px;
    font-size: 13px;
}
/*FORM Overwrite*/


#form_wizard_1 {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #000000, 0 1px 2px #000000;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
}

    #form_wizard_1 h4.block {
        margin-top: 0px;
        margin-bottom: 4px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #3598DC !important;
        color: #FFF !important;
        text-transform: uppercase;
    }

    #form_wizard_1 h4.blocktop {
        margin-top: 0px;
        margin-bottom: 4px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #3598DC !important;
        color: #FFF !important;
        border: 1px solid #3598DC !important;
        padding: 6px;
        border-radius: 8px 8px 0 0;
        text-transform: uppercase;
    }

    #form_wizard_1 h4.subblock {
        margin-top: 0px;
        margin-bottom: 4px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #95A5A6 !important;
        color: #FFF !important;
        padding: 6px;
        text-transform: uppercase;
    }

    #form_wizard_1 .subsectionBtn {
        margin-right: 35px;
        margin-top: -31px;
        font-size: 12px;
        padding: 0px 12px;
    }

    #form_wizard_1 .col-lg-1,
    #form_wizard_1 .col-lg-10,
    #form_wizard_1 .col-lg-11,
    #form_wizard_1 .col-lg-12,
    #form_wizard_1 .col-lg-2,
    #form_wizard_1 .col-lg-3,
    #form_wizard_1 .col-lg-4,
    #form_wizard_1 .col-lg-5,
    #form_wizard_1 .col-lg-6,
    #form_wizard_1 .col-lg-7,
    #form_wizard_1 .col-lg-8,
    #form_wizard_1 .col-lg-9,
    #form_wizard_1 .col-md-1,
    #form_wizard_1 .col-md-10,
    #form_wizard_1 .col-md-11,
    #form_wizard_1 .col-md-12,
    #form_wizard_1 .col-md-2,
    #form_wizard_1 .col-md-3,
    #form_wizard_1 .col-md-4,
    #form_wizard_1 .col-md-5,
    #form_wizard_1 .col-md-6,
    #form_wizard_1 .col-md-7,
    #form_wizard_1 .col-md-8,
    #form_wizard_1 .col-md-9,
    #form_wizard_1 .col-sm-1,
    #form_wizard_1 .col-sm-10,
    #form_wizard_1 .col-sm-11,
    #form_wizard_1 .col-sm-12,
    #form_wizard_1 .col-sm-2,
    #form_wizard_1 .col-sm-3,
    #form_wizard_1 .col-sm-4,
    #form_wizard_1 .col-sm-5,
    #form_wizard_1 .col-sm-6,
    #form_wizard_1 .col-sm-7,
    #form_wizard_1 .col-sm-8,
    #form_wizard_1 .col-sm-9,
    #form_wizard_1 .col-xs-1,
    #form_wizard_1 .col-xs-10,
    #form_wizard_1 .col-xs-11,
    #form_wizard_1 .col-xs-12,
    #form_wizard_1 .col-xs-2,
    #form_wizard_1 .col-xs-3,
    #form_wizard_1 .col-xs-4,
    #form_wizard_1 .col-xs-5,
    #form_wizard_1 .col-xs-6,
    #form_wizard_1 .col-xs-7,
    #form_wizard_1 .col-xs-8,
    #form_wizard_1 .col-xs-9 {
        padding-left: 5px;
        padding-right: 5px;
    }

.form-group {
    margin-bottom: 7px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-sm {
    height: 25px;
    font-size: 11px;
    margin-top: 0px;
}

.input-group-sm > .input-group-btn > select.btn, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, select.input-sm {
    height: 25px;
    font-size: 11px;
    padding-top: 3px;
}

#form_wizard_1 .help-block {
    display: none !important;
}

#form_wizard_1 h5.block {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}


#form_wizard_1 .mt-checkbox, #form_wizard_1 .mt-radio {
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 12px;
}

#form_wizard_1 .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 30px !important;
}

#form_wizard_1 .btn {
    padding: 3px 12px;
    font-size: 13px;
}


#form_wizard_1 table td, #form_wizard_1 table th {
    font-size: 12px;
}

#form_wizard_1 table th {
    font-weight: bold;
    background-color: #E9EDEF;
}

#form_wizard_1 .portlet.box > .portlet-body {
    padding: 5px 35px;
}

#form_wizard_1 .portlet.box {
    margin-bottom: 0 !important;
}

.page-custom-header {
    background: #f3c200 !important;
    color: #fff !important;
    border: 1px solid #95A5A6 !important;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

    .page-custom-header > h5 {
        margin: 6px;
        font-weight: bold;
        font-size: 12px;
        color: #fff !important;
        text-transform: uppercase;
    }

.table-scrollable {
    margin: 5px;
}

table {
    margin-bottom: 4px !important;
}

.table-scrollable > table {
}

    .table-scrollable > table td,
    .table-scrollable > table th {
        font-size: 12px;
    }

    .table-scrollable > table th {
        padding: 5px;
    }

table.dataTable thead th, table.dataTable thead td {
    padding: 5px 30px 5px 10px !important;
    font-size: 12px !important;
    font-weight: bold;
    background-color: #95A5A6 !important;
    color: #fff;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px !important;
    font-size: 12px !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    top: 7px;
}

.table-scrollable {
    margin: 0px 0 !important;
}


/*Custom List Layout*/
.custom-listbox {
    /*min-height: 250px;*/
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #000000, 0 1px 2px #000000;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
    background-color: #fff;
    margin: 10px auto;
}

    .custom-listbox .form-group {
        margin-bottom: 7px;
        margin-top: 7px;
        margin: 7px 25px;
    }

        .custom-listbox .form-group:after {
            clear: both !important;
        }

    .custom-listbox .headerbox {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #3598DC !important;
        color: #FFF !important;
        border: 1px solid #3598DC !important;
        padding: 6px 6px 2px 6px;
        border-radius: 8px 8px 0 0;
        text-transform: uppercase;
    }

        .custom-listbox .headerbox.list {
            padding: 6px 6px 2px 6px;
        }

        .custom-listbox .headerbox .dataTables_filter {
            float: left;
        }

            .custom-listbox .headerbox .dataTables_filter input[type="search"] {
                float: left;
                height: 25px;
                font-size: 11px;
                margin-top: 0px;
                padding: 5px 10px;
                line-height: 1.5;
                border-radius: 3px;
                min-width: 230px !important;
            }

            .custom-listbox .headerbox .dataTables_filter > label {
                margin-bottom: 0px;
            }

    .custom-listbox .dataTables_paginate {
        margin-top: -6px;
    }

    .custom-listbox table.dataTable {
        margin-top: 0px !important;
    }

    .custom-listbox > .tablebox > div > .bottom {
        padding: 0 60px 0 90px;
    }

    .custom-listbox table table-striped table-bordered table-hover order-column {
        text-transform: uppercase;
    }

    .custom-listbox table.dataTable thead th, .custom-listbox table.dataTable thead td {
        background-color: #E9EDEF !important;
        color: rgba(0,0,0,0.5);
        text-transform: uppercase;
    }

    .custom-listbox .mt-checkbox, .custom-listbox .mt-radio {
        font-size: 12px;
    }

.mt-checkbox > span, .mt-radio > span {
    top: 0px;
}




/*custom model popup*/
.custom-model {
}

#popup_ownermanage.custom-model .modal-body .form-group {
    margin-bottom: 7px;
    margin-top: 7px;
    margin: 7px 10px !important;
}

#popup_ownermanage.custom-model .modal-footer, #popup_ownermanage.custom-model .modal-header {
    padding: 8px 30px;
}

    #popup_ownermanage.custom-model .modal-header .close {
        margin-top: 8px !important;
    }


.custom-form-design {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #000000, 0 1px 2px #000000;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
}

    .custom-form-design h4.block {
        margin-top: 0px;
        margin-bottom: 4px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #3598DC !important;
        color: #FFF !important;
        text-transform: uppercase;
    }

    .custom-form-design h4.blocktop {
        margin-top: 0px;
        margin-bottom: 4px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #3598DC !important;
        color: #FFF !important;
        border: 1px solid #3598DC !important;
        padding: 6px;
        border-radius: 8px 8px 0 0;
        text-transform: uppercase;
    }

    .custom-form-design h4.subblock {
        margin-top: 0px;
        margin-bottom: 4px;
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        background: #95A5A6 !important;
        color: #FFF !important;
        padding: 6px;
        text-transform: uppercase;
    }

    .custom-form-design .subsectionBtn {
        margin-right: 35px;
        margin-top: -31px;
        font-size: 12px;
        padding: 0px 12px;
    }

    .custom-form-design .col-lg-1,
    .custom-form-design .col-lg-10,
    .custom-form-design .col-lg-11,
    .custom-form-design .col-lg-12,
    .custom-form-design .col-lg-2,
    .custom-form-design .col-lg-3,
    .custom-form-design .col-lg-4,
    .custom-form-design .col-lg-5,
    .custom-form-design .col-lg-6,
    .custom-form-design .col-lg-7,
    .custom-form-design .col-lg-8,
    .custom-form-design .col-lg-9,
    .custom-form-design .col-md-1,
    .custom-form-design .col-md-10,
    .custom-form-design .col-md-11,
    .custom-form-design .col-md-12,
    .custom-form-design .col-md-2,
    .custom-form-design .col-md-3,
    .custom-form-design .col-md-4,
    .custom-form-design .col-md-5,
    .custom-form-design .col-md-6,
    .custom-form-design .col-md-7,
    .custom-form-design .col-md-8,
    .custom-form-design .col-md-9,
    .custom-form-design .col-sm-1,
    .custom-form-design .col-sm-10,
    .custom-form-design .col-sm-11,
    .custom-form-design .col-sm-12,
    .custom-form-design .col-sm-2,
    .custom-form-design .col-sm-3,
    .custom-form-design .col-sm-4,
    .custom-form-design .col-sm-5,
    .custom-form-design .col-sm-6,
    .custom-form-design .col-sm-7,
    .custom-form-design .col-sm-8,
    .custom-form-design .col-sm-9,
    .custom-form-design .col-xs-1,
    .custom-form-design .col-xs-10,
    .custom-form-design .col-xs-11,
    .custom-form-design .col-xs-12,
    .custom-form-design .col-xs-2,
    .custom-form-design .col-xs-3,
    .custom-form-design .col-xs-4,
    .custom-form-design .col-xs-5,
    .custom-form-design .col-xs-6,
    .custom-form-design .col-xs-7,
    .custom-form-design .col-xs-8,
    .custom-form-design .col-xs-9 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .custom-form-design.help-block {
        display: none !important;
    }

    .custom-form-design h5.block {
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
    }


    .custom-form-design .mt-checkbox, .custom-form-design .mt-radio {
        padding-left: 20px;
        margin-bottom: 0px;
        font-size: 12px;
    }

    .custom-form-design .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 30px !important;
    }

    .custom-form-design .btn {
        padding: 3px 12px;
        font-size: 13px;
    }


    .custom-form-design table td, .custom-form-design table th {
        font-size: 12px;
    }

    .custom-form-design table th {
        font-weight: bold;
        background-color: #E9EDEF;
    }

    .custom-form-design .portlet.box > .portlet-body {
        padding: 5px 35px;
    }

    .custom-form-design .portlet.box {
        margin-bottom: 0 !important;
    }
.cal-btn {
    margin-top: 3px;
    font-size: 12px!important;
}