﻿ <!-- BEGIN PAGE HEADER-->
<h1 class="page-title">
    @ViewBag.Title
    <small>@ViewBag.SmallTitle</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li> 
        @if (ViewBag.MainBread != null)
        {
            <li>
                <a href="#">@ViewBag.MainBread</a>
                <i class="fa fa-angle-right"></i>
            </li>

        } 
        @if (ViewBag.ChildBread != null)
        {
            <li>
                <span>@ViewBag.ChildBread</span>
            </li>
        }  
    </ul> 
</div>
<!-- END PAGE HEADER-->