﻿
@{
    ViewBag.Title = "Dash Board";
    // Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
}



<div class="portlet light portlet-fit bordered">
    <div class="portlet-body">
        <div id="gmap_marker" class="gmaps"> </div>
    </div>
</div>

